@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&family=Roboto&display=swap");
a,
a:hover {
  text-decoration: none;
  display: inline-block; }

.text-center {
  text-align: center; }

.siteBtn {
  background: linear-gradient(to right, #ff3b00, #ff135a);
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  margin: 20px 0;
  border-radius: 5px; }

nav.menuArea ul {
  margin: 0;
  padding: 0; }

.colorHighlight {
  color: #ff3b00; }

img {
  width: 100%;
  height: 100%; }

.sitePic img {
  width: 100%;
  height: 450px; }

.container {
  width: 90%;
  margin: 0 auto; }

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 2%; }
  .row .col-1 {
    grid-column: span 12; }
  .row .col-2 {
    grid-column: span 6; }
  .row .col-3 {
    grid-column: span 4; }
  .row .col-4 {
    grid-column: span 3; }
  .row .col-8 {
    grid-column: span 8; }

section {
  padding: 40px 0; }

/*========================================
Header Area
======================================*/
header {
  background: rgba(0, 0, 0, 0.5); }

.logoArea a h2 {
  font-size: 49px;
  font-family: "Oswald", sans-serif; }

nav.menuArea {
  display: flex;
  justify-content: flex-end;
  align-items: center; }
  nav.menuArea ul {
    display: flex; }
    nav.menuArea ul li {
      list-style: none; }
      nav.menuArea ul li a {
        padding: 10px 20px;
        display: block;
        font-family: "Open Sans", sans-serif; }

/*========================================
Header Area End
======================================*/
/*========================================
Banner Area Start
======================================*/
section.banner {
  background: url("../images/header-bg.png") no-repeat left center; }

.alignCenter {
  display: flex;
  align-items: center; }

.siteContent h3 {
  font-size: 40px;
  font-weight: 700; }
.siteContent h1 {
  font-size: 70px;
  font-weight: 800; }

p {
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  color: #575c5e; }

/*========================================
Banner Area end
======================================*/
/*========================================
Biography Area start
======================================*/
.biography {
  background: url("../images//biography-bg.png") no-repeat left center; }

.sectionHeading {
  font-size: 50px;
  font-weight: 700;
  font-family: monospace;
  margin: 20px 0;
  padding: 30px 0; }

/*========================================
Biography Area End
======================================*/
/*========================================
latest Work Area Start
======================================*/
.workArea {
  background: url("../images/latest-work-bg.png") no-repeat left center; }
  .workArea h2 {
    text-align: center; }

.singleWork {
  box-shadow: 10px 10px 40px #000;
  padding: 10px;
  border-radius: 10px; }

/*========================================
latest work Area End
======================================*/

/*# sourceMappingURL=main.css.map */
